@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>Welcome to my ASP.Net App</p>
    <img src="~/img/FFORME_Installation_NY_0045.jpg" alt="Asp.Net"/>
</div>
